.theme-div {
  padding-top: 90px;
  /* background-color: rebeccapurple; */
  overflow: hidden;
}
.form-div {
  padding-top: 40px;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.hover:hover {
  transform: scale(1.1);
  z-index: 10;
}

.hover {
  transition: 100ms ease;
}

img {
}

body {
    background-color: #000105;
    background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");}

.rot:hover {
    padding-top: 100px;
    transform: rotate(360deg) scale(1.5);
    overflow: hidden;
}
.rot{
    transition: 500ms ease-in-out;
}