.theme-div {
  padding-top: 90px;
  overflow: hidden;
}
.form-div {
  padding-top: 40px;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.hover:hover {
  transform: scale(1.1);
  z-index: 10;
}

.hover {
  transition: 100ms ease;
}

body {
  background-color: #000105;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
}

.rot:hover {
  padding-top: 100px;
  transform: scale(1.5);
  overflow: hidden;
}
.rot {
  transition: 500ms ease-in-out;
}

.themes-title {
  cursor: pointer;
  color: rgb(75, 75, 193);
}

.themes-title:hover {
  color: lightgreen;
}

.modal {
    /* color:white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.modal-div {
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
}